</div>    
    <div class="cover">
        <div class="cover-text">
            <h1>Feeling run down? Tired? Semi-suicidal? Well we've got you covered!</h1>
            <p class="lead">Welcome to rut bustin' a place where people can gather and share how they've busted themselves out a of rut. Here we offer a bounteous range of activites, to electrify the mind and reinvigorate the sole</p>
             <%= link_to "Sign up now!", new_user_registration_path, class: "col-md-4 btn btn-lg btn-success"%>
        </div>
    </div>
    
    <section class="testimonial">
        <div class="container">
            <blockquote>
                &ldquo; Before I came to this site I was an empty shell of a human &mdash; Now I wake up every day feeling sagacious &amp; gregarious. Thanks Rut Bustin' .com! &rdquo;
                <cite>&mdash; A Happy Client</cite>
            </blockquote>
        </div>
    </section>

<div id="services"class="container">
  <div class="row">
    <div class="service col-xs-12 col-sm-6 col-md-4">
      <h3 class="midrow">
        View locations as a Guest User
      </h3>
      <h5 class="left">
        Browse and view locations as a Guest then Sign up later
      </h5>
      <p class="button"><%= link_to "Browse Location Listings", locations_path, class:"btn btn-lg btn-success"%></p>
    </div>
    
    <div class="service box col-xs-12 col-sm-6 col-md-4">
      <h3 class="midrow">
        Sign into your account
      </h3>
      <h5 class="left">
        <ul>
          <li>Add new Rut Bustin' locations</li>
          <li>Update Rut Bustin' locations</li>
          <li>Add reviews to Rut Bustin' locations</li>
          <li>Update account</li>
        </ul>
      </h5>
      <p class="button"><%= link_to "Sign in", new_user_session_path, class:"btn btn-lg btn-success"%></p>
    </div>
    
    <div class="service box col-xs-12 col-sm-6 col-md-4">
      <h3 class="midrow">
        Checkout our Forum to discuss Rut Bustin' and Rut bustin' related activities
      </h3>
      <h5 class="left">
        <p>COMING SOON</p>
        <small><p>(24th of December)</p></small>
      </h5>
      <p class="button"><%= link_to "Forum", "#", class:"btn btn-lg btn-success"%></p>
    </div>
  </div>
 </div> 
      <section id="team">
            <h2>Meet our team</h2>
            <div class="row">
                <div class="col-sm-6">
                    <img src="https://s3.amazonaws.com/rutbustin1/assets/image_120301297+(3)-min.jpg" alt="Woman's face" class="img-circle">
                    <h4>Tamara</h4>
                    <p>Tamara is the brains and the braun of the operation. Her favourite rut busters include; intinerant outdoor activites (ones that don't involve crickets), enjoying fine vegetarian cuisine and long....messy walks home. When she's not out busting ruts, she enjoys actively encouraging WWIII, studying useless degree's and looking at cats memes (please tag her in as many as possible) with her cat Voldermort.</p>
                </div>
                <div class="col-sm-6">
                    <img src="https://s3.amazonaws.com/rutbustin1/assets/image_120301297+(1)+(1)-min.jpg" alt="Man's face" class="img-circle">
                    <h4>Josh</h4>
                    <p>Josh enjoys naps. Not much else he can do without being lugubrious and complaining of about his catalogue of physical and mental problems.</p>
                </div>
            </div>
    </section>
    <section id="signup">
        <div class="container">
            <h2>Get our monthly newsletter</h2>
            <p class="lead">Get in depth reviews, to-do's and information on updates and new site features</p>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="rutbuster@rutbustin.com">
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-lg" type="button">Rut Bust it</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>