@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "thredded";

@mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.1) -5px 5px 2px;
}
// Colors

$dk-blue: #1E83AE;
$blue: #3D5B94;
$light-blue: #3DACDD;
$green: #6dcd9a;
$red: #DB6161;
$white: #fff;
$light-grey: #f95165;
$darker-grey: #f95165;

$social-size: 1.2em;
$social-width: 20%;
* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html,
body {
  font-family: Raleway, sans-serif;
  background-color: $white;
}
// navigation 
.container > {
  .navbar-header, .navbar-collapse {
    background-color: #081c2d;
    border-color: #081c2d;
  }
}

.container-fluid > {
  .navbar-header, .navbar-collapse {
    background-color: #081c2d;
    border-color: #081c2d;
  }
}
#logo {
  color: #f95165;
    h5 { font-size: 2.5em;
         font-family: 'Pacifico', cursive;
         text-shadow: -2px 1px 1px $white;
    }
}
.navbar-inverse {
  background-color: #081c2d;
  border-color: #081c2d;
}
.navbar-inverse .navbar-toggle {
    border-color: #c43142;
      @include transition(all, 0.3s);
      &:hover {
        background-color: #af0a1b;
        @include transition(all, .3s);
      }
    }
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #f95165;
}
.navbar-inverse .navbar-nav > li > a {
    color: #f95165;
       &:hover {
        background-color: #222;
        @include transition(all, .3s);
       }
}
// jumbotron styling
.jumbotron {
  color: #f95165;
  background: #DC2424; /* fallback for old browsers */
  background: #000428; /* fallback for old browsers */
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#000428), to(#004e92));
  background: -webkit-linear-gradient(to left, #000428, #004e92);
  background: -moz-linear-gradient(to left, #000428, #004e92);
  background: -o-linear-gradient(to left, #000428, #004e92);
  background: linear-gradient(to left, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
	.btn-success {
		background-color: #f95165;
		border-color: #f95165;
		&:hover { background-color: #af0a1b;
		@include transition(all, .3s); &:visited { background-color: #af0a1b;
	  }
  }
}

.gravatar {
  border-radius: 20px;
}
.display-location {
  width: 100%;
  margin-bottom: 10px;
}

.cover {
    height: 100%;
}

.cover {
    background: url('https://s3.amazonaws.com/rutbustin1/assets/hero-image-min.jpeg') no-repeat;
    height: 900px;
    margin-top: -20px;
    background-size: 100% 100%;
    display: table;
    width: 100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
    position: relative;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

.cover-text {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.cover-text h1 {
    margin: 0;
    font-size: 70px;
    letter-spacing: -3px;
}

.testimonial {
  background: #DC2424; /* fallback for old browsers */
  background: #000428; /* fallback for old browsers */
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#000428), to(#004e92));
  background: -webkit-linear-gradient(to left, #000428, #004e92);
  background: -moz-linear-gradient(to left, #000428, #004e92);
  background: -o-linear-gradient(to left, #000428, #004e92);
  background: linear-gradient(to left, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
blockquote {
    border: none;
    margin: 0;
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-size: 32px;
    color: white;
}

blockquote cite {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    color: #888;
    margin-top: 40px;
}
#services{
  height: 100%;
  padding: 50px 0 50px 0;
}
#services h3 {
    font-size: 45px;
}
#services h5 {
  font-size: 25px;
}
p.button {
  text-align: center;
}

@media only screen and (min-width : 768px) {
  
  #services {
    display: table;
  }
  .service{
    float: none;
  	width: 33%;
  	display: table-cell;
    vertical-align: top;
    position: relative;
    padding-bottom: 50px;
  }
  p.button {
    position: absolute;
    bottom: 0;
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
div.box {
  box-shadow: -5px 0 0 rgb(249, 81, 101);
}
ul {
    list-style-position: inside;
}
#team {
    background: url('https://s3.amazonaws.com/rutbustin1/assets/city-mountains-night-light-at-lake-min.jpg') no-repeat;
    background-size: cover;
    height: 700px;
    margin: -20px -20px;
    color: white;
    text-align: center;
    position: relative;
    background-size: 100% 100%;
    background-position: top center;
    background-attachment: fixed;
}

section {
    padding: 100px;
}

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 60px;
}

h2 + p {
    text-align: center;
    margin-top: -60px;
}

// footer
footer {
  width: 100%;
  display: inline-block;
  margin: 2em 0;
  height: 70px;
  background-color: #999;
  .copyright {
    width: 50%;
    float: left;
    @media (max-width: 600px) {
      width: 100%;
    }
    p {
      padding-left: 10%;
      color: white;
      font-size: 0.7em;
      line-height: 70px;
      text-transform: capitalize;
      letter-spacing: 1px;
      @media (max-width: 600px) {
        text-align: center;
        padding: 0;
      }
    }
  }
  .social {
    width: 50%;
    float: right;
    @media (max-width: 600px) {
      width: 100%;
    }
    a {
      float: left;
      line-height: 70px;
      text-decoration: none;
      color: white;
      text-align: center;
      font-weight: bold;
      @include transition(all, 0.3s);
      &:hover {
        background-color: #222;
        @include transition(all, .3s);
      }
    }
  }
}

.linked {
  background-color: #C92228;
  font-size: $social-size;
  width: $social-width;
}

.face {
  background-color: $blue;
  font-size: $social-size;
  width: $social-width;
}

.tweet {
  background-color: $light-blue;
  font-size: $social-size;
  width: $social-width;
}

.support {
  background-color: $green;
  font-size: 0.8em;
  width: 40%;
}
// shareable buttons
nav.share {
  display:inline-block;
} /* shareable's nav tag */
nav.share div {
  float:left;
}
nav.share iframe {
  border:0; margin-top:0; padding-top:0;
} /* if using medium sized buttons */
#___plusone_0 {
  font-size: default !important;
}
.fb_iframe_widget span { 
  vertical-align: top; 
}
.fb_edge_widget_with_comment { 
  vertical-align: top;
}
.fb-like{
  display:inline-block
}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/
.recipe {
	background: white;
	border-radius: 5px;
	margin-bottom: 40px;
	@include box-shadow;
	.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
	  -moz-transition: all .3s ease-out;
	  -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
		&:hover {
			transform: scale(1.075);
		}
	}
	h2 {
		padding: 15px 5%;
		margin: 0;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.5;
		a {
			color: rgb(0, 35, 85);
		}
	}
}
.show-img {
	background: white;
	border-radius: 5px;
	margin: 5px 5px 40px 5px;
	@include box-shadow;
	.image_wrapper {
		max-width: 100px;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
	  -moz-transition: all .3s ease-out;
	  -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
		&:hover {
			transform: scale(1.075);
		}
	}
}
#name {
  background: $light-grey;
  padding: 10px;
}
#description {
  padding: 10px;
}
#address {
  background: $light-grey;
  padding: 10px;
}

/* Media Queries */
@media only screen and ( max-width : 568px ) {
    .cover h1 {
        font-size: 40px;
    }
    #services h3 {
        font-size: 30px;
    }
    #services h5 {
        font-size: 20px;
    }
    #services {
        padding: 15px 30px 15px 30px;
    }
    section {
        padding: 20px;
    }
    div.box {
    box-shadow: none;
}
    
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
// skip navigation (site impaired)
.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip:active, 
a.skip:focus, 
a.skip:hover {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    width: 100%!important;
    height: auto;
    line-height: 1;
}
    
.active-item-shadow {
  -webkit-box-shadow: rgba(133,133,133,0.1) 0 0 5px 2px,rgba(133,133,133,0.3) 0 0 2px;
  -moz-box-shadow: rgba(133,133,133,0.1) 0 0 5px 2px,rgba(133,133,133,0.3) 0 0 2px;
  box-shadow: rgba(133,133,133,0.1) 0 0 5px 2px,rgba(133,133,133,0.3) 0 0 2px;
}
#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.centered { margin: 0 auto; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }