<footer>
  <div class="copyright">
    <p>&copy 2016 - Rut Bustin' a Busted Rut subsidiary&#153;</p>
  </div>
  <div class="social">
    <a href="#" class="support">Contact Us</a>
    <a href="#" class="face">f</a>
    <a href="#" class="tweet">t</a>
    <a href="#" class="linked"><i>pin</i></a>
  </div>
</footer>