<footer class="site-footer">
  <div class="copyright">
    <small></small>
    <p>&copy 2016 - Rut Bustin' a Busted Rut subsidiary&#153;</p>
  </div>
  <div class="social">
    <a href="/sitemap/users" class="support">Site Map</a>
    <a href="/about" class="face">About</a>
    <a href="/faq" class="tweet">FAQ</a>
    <a href="#" class="linked"><i>pin</i></a>
  </div>
</footer>